/* CSS declarations go here */
* {
    text-align:center;
}

body {
    background-color:black;
}

.container {
    overflow:hidden;
}

#header {
    height:50px;
    color:white;
    /*border-bottom:1px solid white;*/
}

#matrixDiv {
    padding-top:100px;
}

#matrix {
    display:inline-block;
    margin:0 auto;
    padding:5px;
/*    border:1px solid white;*/
    /*border-radius:3px;*/
}

.column {
    float:left;
    margin:0;
    padding:0;
}

.block {
    width:30px;
    height:30px;
    margin:5px 3px;
    background:#333;
    border-radius:3px;
    /*-webkit-box-shadow: inset 0px 0px 2px 2px #000;*/
    /*box-shadow: inset 0px 0px 2px 2px #000;*/
}

.block:hover {
    -webkit-box-shadow: 0px 0px 2px 2px #FFF;
    box-shadow: 0px 0px 2px 2px #FFF;
}

.active {
    background:#00DDDD;
    animation:flutter 0.5s;
    -webkit-animation:flutter 0.5s;
}

@keyframes flutter {
    0% {-webkit-box-shadow: 0px 0px 2px 2px #FFF;
    box-shadow: 0px 0px 2px 2px #FFF;}
    10% {-webkit-box-shadow: 0px 0px 4px 3px #FFF;
    box-shadow: 0px 0px 4px 3px #FFF;}
    20% {-webkit-box-shadow: 0px 0px 6px 3px #FFF;
    box-shadow: 0px 0px 6px 3px #FFF;}
    30% {-webkit-box-shadow: 0px 0px 8px 3px #FFF;
    box-shadow: 0px 0px 8px 3px #FFF;}
    40% {-webkit-box-shadow: 0px 0px 10px 3px #FFF;
    box-shadow: 0px 0px 10px 3px #FFF;}
    50% {-webkit-box-shadow: 0px 0px 12px 3px #FFF;
    box-shadow: 0px 0px 12px 3px #FFF;}
    60% {-webkit-box-shadow: 0px 0px 10px 3px #FFF;
    box-shadow: 0px 0px 10px 3px #FFF;}
    70% {-webkit-box-shadow: 0px 0px 8px 3px #FFF;
    box-shadow: 0px 0px 8px 3px #FFF;}
    80% {-webkit-box-shadow: 0px 0px 6px 3px #FFF;
    box-shadow: 0px 0px 6px 3px #FFF;}
    90% {-webkit-box-shadow: 0px 0px 4px 3px #FFF;
    box-shadow: 0px 0px 4px 3px #FFF;}
    100% {-webkit-box-shadow: 0px 0px 2px 2px #FFF;
    box-shadow: 0px 0px 2px 2px #FFF;}
}

@-webkit-keyframes flutter
{
    0% {-webkit-box-shadow: 0px 0px 2px 2px #FFF;
    box-shadow: 0px 0px 2px 2px #FFF;}
    10% {-webkit-box-shadow: 0px 0px 4px 3px #FFF;
    box-shadow: 0px 0px 4px 3px #FFF;}
    20% {-webkit-box-shadow: 0px 0px 6px 3px #FFF;
    box-shadow: 0px 0px 6px 3px #FFF;}
    30% {-webkit-box-shadow: 0px 0px 8px 3px #FFF;
    box-shadow: 0px 0px 8px 3px #FFF;}
    40% {-webkit-box-shadow: 0px 0px 10px 3px #FFF;
    box-shadow: 0px 0px 10px 3px #FFF;}
    50% {-webkit-box-shadow: 0px 0px 12px 3px #FFF;
    box-shadow: 0px 0px 12px 3px #FFF;}
    60% {-webkit-box-shadow: 0px 0px 10px 3px #FFF;
    box-shadow: 0px 0px 10px 3px #FFF;}
    70% {-webkit-box-shadow: 0px 0px 8px 3px #FFF;
    box-shadow: 0px 0px 8px 3px #FFF;}
    80% {-webkit-box-shadow: 0px 0px 6px 3px #FFF;
    box-shadow: 0px 0px 6px 3px #FFF;}
    90% {-webkit-box-shadow: 0px 0px 4px 3px #FFF;
    box-shadow: 0px 0px 4px 3px #FFF;}
    100% {-webkit-box-shadow: 0px 0px 2px 2px #FFF;
    box-shadow: 0px 0px 2px 2px #FFF;}
}

.selected {
    animation:flutter 5s;
}

.tracker {
    opacity:0.2;
    width:3px;
    top:10px;
    position:absolute;
    background:#FFF;
}
